@model Incident_and_Infrastructure_Management.Models.Department

@{
    ViewData["Title"] = "AddDepartment";
}

<style>
    .form-control{
        border-color: black;
    }
</style>

<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Company Department</h4>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
         
            <div class="form-group">
                <button type="submit" class="btn btn-gradient-success btn-icon-text" ><i class="mdi mdi-file-check btn-icon-prepend"></i>  Save</button>
                <button type="reset" class="btn btn-gradient-warning btn-icon-text">
             <i class="mdi mdi-reload btn-icon-prepend"></i> Reset </button>

             <button type="reset" class="btn btn-gradient-danger btn-icon-text">
             <i class="mdi mdi-close-circle float-end"></i> Close </button>
            </div>
             
             
        </form>
    </div>
</div>
</div>
</div>
</div>



